<!-- TODO: Create form for creating records -->
<h2>Create Your Record List!</h2>

<form action="/records" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title"><br><br>
  <label for="completed">Completed</label>
  <input type="checkbox" name="completed" id="completed"><br><br>
  <input type="submit" name="" value="Create Record">
  <!-- params {title: "Walk The Dog", completed: true } -->

</form>
