<!-- TODO: Create form for creating records -->
<h1 class="center">Got some new records?</h1>
<h3 class="center">Let's add them here!</h3>
<% if @errors %>
  <ul class="blue">
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %><br>

<form action="/records" method="post">
  <div class="input-field">
    <input  name="record[title]" placeholder="Placeholder" id="record" type="text" class="validate">
    <label for="title">Record Title & Artist</label>
  </div>

<!-- <p>
  <label>
    <input type="checkbox" name="record[completed]" />
    <span>colored?</span>
  </label>
</p> -->
  <input type="submit" value="Create Record" class="btn">

</form>
