<h1><%= @record.title %></h1>
<p><%= @record.complete ? 'Colored' : 'Not Colored' %></p>






</form>

<form action="/records" method="get">
    <input type="submit" value="Return To The Record List"
         name="Submit" id="record"  class="btn"/>
</form>
