<%= flash[:notice] if flash[:notice] %>

<h1 class="center">Welcome To The Record Collector</h1>

<h4 class="grey-text center">Never again will you have to wonder what records you have. Let's get started, shall we?</h4>

<img class="materialboxed center" height="300" width="800" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Vinyl_collection_at_a_record_store_%28Unsplash%29.jpg/1599px-Vinyl_collection_at_a_record_store_%28Unsplash%29.jpg">
